<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="/bota.ico">
    <!--Link al CSS-->
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div class="totalweb">
    <header>
        <div class="information">
            <p>Envíos en <span>24/48h</span></p>
            <p>Hasta <span>14 días</span> para devolución</p>
            <p>LLAMANOS <span>955819634</span></p>
        </div>
      
      
      <div class="titlenav">
        
        <h1>Vivet Botánica</h1>
        <!--Creamos una barra de navegación simple-->
           <nav class="menu">
            
               <ul class="list">
                  
                   <li><a class="listelement" href="../index.html">Inicio</a></li>
                   <li><a class="listelement active" href="#">Galería</a></li>
                   <li><a class="listelement" href="./presupuesto.html">Presupuesto</a></li>
                   <li><a class="listelement" href="./contacto.html">Contáctanos</a></li>

               </ul>

            </nav>
      
        </div>
    
      </header>
    
    <main>
          
          <div class="gallery">
            
            <h2 class="gallery_title">Nuestros productos</h2>
            
             <div class="gallery_container">
             <!-- Creamos tres secciones distintas de tipos de productos con tres <div> --> <!--Galeria diseñada con grid-->
             <div class="typeproduct">  
             
             
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/jardinero2.jpg" alt="jardinero podando" width="430" height="282">Poda</figure>
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/tala.png" alt="jardinero talando" width="600" height="400">Tala de árboles</figure>
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/jardinero.jpg" alt="jardinero" width="1024" height="576">Mantenimiento general</figure>
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/fumigacion.jpg" alt="jardinero fumigando" width="445" height="555">Fumigación</figure>
             
             </div>
             
             <div class="typeproduct">
             
             
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/arboles.jpeg" alt="arboles" width="750" height="921">Árboles</figure>
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/semillas.jpg" alt="bolsas de semillas" width="980" height="735">Semillas</figure>
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/plantas.jpeg" alt="plantas" width="1536" height="2048">Plantas</figure>
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/herramientas.png" alt="herramientas" width="955" height="560">Material de jardinería</figure>
             
             </div>
             
             <div class="typeproduct">
            
            
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/transporte.jpeg" alt="camion" width="600" height="452">Transporte de árboles</figure>
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/repartidor.jpeg" alt="repartidor" width="976" height="512">Entrega de pedidos</figure>
                   <figure class="gallery_figure"><img class="gallery_img" src="../img/consulta.jpeg" alt="oficinista" width="1920" height="1280">Información</figure>
             
             </div>
            
            
            
             </div>
             
          </div>
   </main>
    
   <footer>
    <div class="footercontainer">
      
        <div class="container2">
      
           <a href="#"><p>Ir arriba</p></a>
     
             <p>/</p>
   
           <p>&copy;Vivet Botánica. Todos los derechos reservados</p>
    
             <p>/</p>
    
           <a href="./avisolegal.html"><p>Aviso legal </p></a>
    
             <p>/</p>
    
           <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" target="_blank"><p>Política de privacidad</p></a>

           <a href="https://www.instagram.com/?hl=es" target="_blank"><img class="social" src="../img/insta.png" alt="Instagram" width="834" height="860"></a>
           <a href="https://twitter.com/?lang=es" target="_blank"><img class="social" src="../img/x.png" alt="X" width="980" height="980"></a>
           <a href="https://es-es.facebook.com/" target="_blank"><img class="social" src="../img/facebook.png" alt="Facebook" width="980" height="980"></a>
      
        </div>
     
           <p>Av. de Andalucia, 250, 41702 Dos Hermanas, Sevilla</p>
    
    </div>

</footer>
</div>
</body>

</html>